<div class="card my-5">
  <div class="col-form-label" style="text-shadow: blue 2px 2px 6px; font-weight: bolder">
    Category List
  </div>
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of categoryList">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{item.description}}</td>
        <td><button class="btn btn-info" type="button" (click)="goToEditCategory(item)">Edit</button></td>
        <td><button class="btn btn-danger" type="button" (click)="deleteCategory(item)">Delete</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

